<div class="container">
  <header class="header">
    <div class="header__avatar">
      <img src="./assets/img/avatar2.png" alt="Avatar" />
    </div>
    <div class="header__content">
      <h1 class="header__title luckiest-guy-regular">Front-end <span class="developer">Developer</span></h1>
      <span class="floating-text">¡Hola, soy Gabriel!</span>
    </div>
  </header>
  <div class="content_nav">
    <nav class="header__nav">
      <ul>
        <li><a class="alata-regular hvr-underline-from-center" href="#experience">Experiencia</a></li>
        <li><a class="alata-regular hvr-underline-from-center" href="#projects">Proyectos</a></li>
        <li><a class="alata-regular hvr-underline-from-center" href="#skills">Skills</a></li>
        <li><a class="alata-regular hvr-underline-from-center" href="#about">Sobre mí</a></li>
        <li><a class="alata-regular hvr-underline-from-center" href="#about">Contacto</a></li>


      </ul>
    </nav>
  </div>

</div>
